@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root{
  font-family: 'IBM Plex Mono', monospace;
  --max-layout-width:1200px;
  --normal-layout-width:600px;
  --medium-layout-width:500px;
  --small-layout-width:200px;
}