@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root{
  font-family: 'IBM Plex Mono', monospace;
  --max-layout-width:1200px;
  --normal-layout-width:600px;
  --medium-layout-width:500px;
  --small-layout-width:200px;
}
.btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  transition: all 0.25s ease;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn-light {
  cursor: pointer;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  border: none;
  transition: all 0.25s ease;
}

.btn-light:hover {
  box-shadow: none;
  transform: none;
}
.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.well-and-color-pick{
  display: flex;
}